# you may wanna use gitignore.io

############################
# ENV
############################

.env
.env.*
!.env.example



############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Package managers
############################

.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log
yarn.lock
package
package-lock.json

############################
# Database and dumps
############################

data/
dumps/
*.dump
*.sql
*.sqlite
*.sqlite3
*.db
*.rdb
*.bak
backup/
backups/
*.backup
*.dmp
*.dbf
# if compressed, add tar, .tar.gz or .tgz extension too (you may dont want this)
*.tar 
*.tar.gz
*.tgz
*.zip

############################
# Build und caches
############################
dist/
build/
.output/
.next/
.nuxt/
.cache/
coverage/

############################
# wordpress
############################
/wp-content/uploads
/wp-content/plugins
/duplicator-dump/
/db_data
installer.php
# wp-config.php [EVT.??????] 

############################
# Junk files
############################

.DS_Store
Thumbs.db

############################
# VS Code personal Settings
############################

.vscode/
.idea/
*.code-workspace